PORT=3001

MONGO_URI=mongodb+srv://pop905105_db_user:abanoub1943@cluster0.brob11n.mongodb.net/AiHiringPlatform?retryWrites=true&w=majority

JWT_ACCESS_TOKEN_SECRET= 123
JWT_ACCESS_TOKEN_EXP= 15m

JWT_REFRESH_TOKEN_SECRET= 123
JWT_REFRESH_TOKEN_EXP= 7d

NODE_ENV=development

EMAIL_USER=youssefworld20@gmail.com    
EMAIL_PASS=yvdq nzvy yxfg nqyv
CLIENT_URL=

SERVER_URL=http://localhost:3001

SUPABASE_URL=https://cndyrsekpzwrawasfqsd.supabase.co

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNuZHlyc2VrcHp3cmF3YXNmcXNkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTkwODQ4OCwiZXhwIjoyMDk3NDg0NDg4fQ.7DsRl8V1AtKnZekAiNhdIhOkTvvo0QIkzBt8_hdDYi8

SUPABASE_BUCKET=uploads


GEMINI_API_KEY=

GEMINI_MODEL=gemini-2.5-flash-lite




OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
