PORT=3001

MONGO_URI=mongodb+srv://pop905105_db_user:abanoub1943@cluster0.brob11n.mongodb.net/AiHiringPlatform?retryWrites=true&w=majority

JWT_ACCESS_TOKEN_SECRET= 123
JWT_ACCESS_TOKEN_EXP= 1m

JWT_REFRESH_TOKEN_SECRET= 123
JWT_REFRESH_TOKEN_EXP= 15m

NODE_ENV=development

EMAIL_USER=
EMAIL_PASS=
CLIENT_URL=
SERVER_URL=http://localhost:3001

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=